/**
 * Style for DrupalCamp Fall 2011
 */

 /**
 * Site layout style and graphics for wrappers, header etc
 */
body {
  margin: 0;
  background: #e9eae3 url(../images/bg-header.jpg) top center repeat-x;
}

#front-sponsors {
  overflow:hidden;
}

#page {
  background: url("../images/bg-triangles.png") no-repeat scroll 0 478px transparent;
  padding: 20px 10px;
  min-height: 820px;
}

.site-main {
  background: url(../images/bg-white.png) 0px -10px;
  border-radius: 10px;
  padding-bottom: 2em;
}

.site-header {
  margin: 50px 0;
}

#mission {
  background: url(../images/bg-mission.png) top left no-repeat;
  padding: 100px 120px 0 30px;
  width: 422px; /* 572 - 120 - 30 */
  height: 50px; /* 150 - 100 */
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  font-size: 14px;
  font-style: italic;
}

.drupalcamp-page-1 .page-highlighted .panel-pane {
  margin-bottom: 1em;
}

/* Padding and background for individual panes */ 
.drupalcamp-user-page .pane-content,
.drupalcamp-page-1 .page-navigation .panel-pane,
.drupalcamp-page-1 .page-sidebar-left .panel-pane,
.drupalcamp-page-1 .page-content .panel-pane,
.drupalcamp-page-1 .page-highlighted .panel-pane {
  background:#fff;
  padding: 20px;
}

/**
 * Navigation
 */
#navigation li.first {
  padding-left: 0;
}

#navigation a {
  color: #666;
  text-decoration: none;
  padding: 8px;
  line-height: 18px;
}

#navigation a:hover {
  color: #56A79E;
  text-decoration:none;
}

#navigation li {
  padding: 0 20px;
  font-size: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

#navigation li.first a {
  padding-left: 35px;
  background: url(../images/bg-nav-home.png) 0 0 no-repeat;
}

#navigation li.first a.active,
#navigation li.first a:hover {
  background-position: 0 -40px;
}

#navigation ul {
  padding: 35px 0 25px 0;
  margin: 0;
  list-style-type: none;
}

/**
 * Tabs
 */
ul.tabs.primary {
    margin:5px 5px 5px 0;
}

.pane-pane-messages .tabs ul.primary a {
  color: #242021;
  padding: 5px 10px;
  margin:0;
  border-color:#fff;
  border-style:solid;
}

.pane-pane-messages .tabs ul {
  border: 0 none;
  margin-bottom: 10px;
  padding: 0;
}

/**
 * Messages styling
 */
div.messages {
  border: 7px solid;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

div.messages.message {
  background: #CCC;
  border-color: #777
}

div.messages.status {
  background: #CFC;
  border-color: #7D7;
}

div.messages.warning {
  background: #FFD;
  border-color: #F0C020;
}

div.messages.error {
  background: #FCC;
  border-color: #D77;
}

/**
 * Front page specific
 */
#front-sponsors .sponsor {
  float:left;
  margin-right: 7px;
}

#front-sponsors h2.pane-title {
  font-style:italic;
  font-weight:normal;
  margin-top: -10px;
}
/**
 * Twitter
 */
 div.tweets-pulled-listing a {
   color: #55A69E;
}

.twitter-pane h2.pane-title {
  text-indent: -9999px;
  background-image: url('../images/twitter-headline.png');
  height:59px;
}

div.tweets-pulled-listing div.tweet-divider {
  border:0;
  margin-bottom: 15px;
}

div.tweets-pulled-listing .tweet-time a {
  color:#71716f;
  font-size:10px;
}

div.tweets-pulled-listing .tweet-text {
  
}

div.tweets-pulled-listing .tweet-author {
  position:absolute;
  bottom: 4px;
  left:47px;
}

div.tweets-pulled-listing  .tweet-photo-wrapper {
  overflow: hidden;
  position:relative;
}

.view-Sponsors td.col-1 {
  padding-right:40px;
}

.view-Sponsors td.col-2 {
  
}

.view-Sponsors.view-display-id-block_2 .view-Sponsors td.col-1 {

}

.view-Sponsors.view-display-id-block_2 td.col-2 {
  
}