
body {
  margin: 0;
  background: #e9eae3 url(../images/bg-header.jpg) top center repeat-x;
  font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
}

#page {
  background: url("../images/bg-triangles.png") no-repeat scroll 0 478px transparent;
  padding: 20px 10px;
  min-height: 820px;
}

.site-main {
  background: url(../images/bg-white.png) 0px -10px;
  border-radius: 10px;
  padding-bottom: 2em;
}

.site-header {
  margin: 50px 0;
}

#navigation li.first {
  padding-left: 0;
}

#navigation a {
  color: #666;
  text-decoration: none;
  padding: 8px;
  line-height: 18px;
}

#navigation a:hover {
  color: #56A79E;
  text-decoration:none;
}

#navigation li {
  padding: 0 20px;
  font-size: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

#navigation li.first a {
  padding-left: 35px;
  background: url(../images/bg-nav-home.png) 0 0 no-repeat;
}

#navigation li.first a.active,
#navigation li.first a:hover {
  background-position: 0 -40px;
}


#navigation ul {
  padding: 35px 0 25px 0;
  margin: 0;
  list-style-type: none;
}

#mission {
  background: url(../images/bg-mission.png) top left no-repeat;
  padding: 100px 120px 0 30px;
  width: 422px; /* 572 - 120 - 30 */
  height: 50px; /* 150 - 100 */
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  font-size: 14px;
  font-style: italic;
}

.page-sidebar-left h2 {
    font-size: 1.2em;
    line-height: 1.3em;
margin: 8px 0;
}

.drupalcamp-page-1 .page-navigation .panel-pane,
.drupalcamp-page-1 .page-sidebar-left .panel-pane,
.drupalcamp-page-1 .page-content .panel-pane,
.drupalcamp-page-1 .page-highlighted .panel-pane {
  background:#fff;
  padding: 20px;
}

.pane-pane-messages .tabs ul.primary a {
  color: #242021;
  padding: 5px 10px;
  margin:0;
  border-color:#fff;
  border-style:solid;
}

.pane-pane-messages .tabs ul {
    border: 0 none;
    margin-bottom: 10px;
    padding: 0;
}

