body {
  background: url("../images/bg-header.jpg") repeat-x scroll center top #E9EAE3;
  margin: 0;
}

#page {
  background: url("../images/bg-triangles.png") no-repeat scroll 0 478px transparent;
  padding: 20px 10px;
  min-height: 820px;
}

.page-main  {
  background: url(../images/bg-white.png);
  border-radius: 10px;
}

#navigation a {
  color: #666666;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.page-header-alpha {
  margin: 40px 80px;
}

#navigation {
  margin: 15px 0;
  padding: 0 10px;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.page-main .panel-pane {
  padding: 20px;
}