body {
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#navigation a:hover {
  text-decoration: underline;
}

#navigation li {
  padding: 0 20px;
  font-size: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

#navigation li.first {
  padding-left: 0;
}

#navigation a {
  color: #666;
  text-decoration: none;
  padding: 8px;
  line-height: 18px;
}

#navigation a:hover {
  color: #56A79E;
}

#navigation li.first a {
  padding-left: 35px;
  background: url(../images/bg-nav-home.png) 0 0 no-repeat;
}

#navigation li.first a.active,
#navigation li.first a:hover {
  background-position: 0 -40px;
}
